button{
  font-size: 35px;
  font-weight: 900;
  font-family: 'Gloria Hallelujah', cursive;
  color: rgb(18, 83, 62);
  border: 5px solid rgb(0, 0, 0);
  border-radius: 8px;
  margin: 5px;
  background-color: rgb(244, 152, 240);

}
button:hover{
  cursor: pointer;
  transform: scale(1.05);
}

#inputArea{
  font-size: 35px;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 900;
  border: 5px solid rgb(28, 159, 105);
  border-radius: 8px;
  color: rgb(28, 159, 105);
}

#count-output {
  font-size: 55px;
  color: rgb(28, 159, 105);
  font-family: 'Gloria Hallelujah', cursive;
  margin: 1rem;
}

.container{
  background-color: rgb(253, 253, 253);
  max-width: 25%;
  border: 5px solid rgb(28, 159, 105);
  border-radius: 8px;
  text-align: center;
}

#countMessage{
  font-size: 80px;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: 900;
  color: rgb(254, 36, 36);
  text-shadow: 0px 0px 8px white;
}

#containerThree{
  margin-left: 2rem;
  
}